@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
font-family: android;
src: url(C:..\Users\usuario\OneDrive\Documentos\estudos\html-css\desafios\d010\fontes\estilo\android_7\android_7.ttf) format(opentype);
font-weight: normal;
font-style: normal;
}
@font-face {
    font-family: cursive;
    src: url(C:\Users\usuario\OneDrive\Documentos\estudos\html-css\desafios\d010\fontes\Bebas_Neue,Cedarville_Cursive.zip) format(opentype);
    font-weight: normal ;


}

/* cores utilizadas 
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/
    

:root {
--cor0:#ebe5c6;
--cor02:#83e1ad;
--cor03:#3ddc84;
--cor04:#2fa866;
--cor05:#1a5c37;
--cor06:#063d1e;
  
--fontpadrão: arial, verdana , Helvetica , sans-serif;
--fontdestaque: "Bebas Neue", sans-serif;
--fontandroid: "android", "cursive";
}
* {
margin: 0%;
padding: 0%;
}
p {
margin: 15px 0px 15px 0px; 
  /* primeiro : cima 
segundo: direita 
terceito: baixo 
quarto:esquerda   */
text-align: justify;
text-indent: 30px ;
line-height: 2em;
font-size: 1em;
}

body {
  background-color:var(--cor0);
}
a.externo::after {
    Content: '\1F517' ;
}
header h1 {
    color:white;
    font-family: var(--fontdestaque);
    padding-bottom: 30px;
    font-size: 3em;
    text-shadow: 2px 2px 0px black;
    font-weight: normal;
}
main h1 {
    color:var(--cor06);
  font-family: var(--fontdestaque);
  font-size: 2.0em;
  
}
main h2 {
    font-family: var(--fontdestaque);
 color: var(--cor05);
 font-size: 1.5em;
 background-image: linear-gradient(to right, var(--cor02), transparent);    /* cria gradientes para direita nessa  junção de cor cpm transparente      */
}
header {
  background-image: linear-gradient(to bottom, var(--cor06), var(--cor04));        /* cria gradientes nessa  junção de cores      */
    text-align: center;
    min-height: 150px;
    padding-top: 40px;
}
header p {
    color: white;
    font-family: var(--fontpadrão);
    font-size: 1.2em;
    width: 400px;
    margin: auto;
padding-right: 10px;
padding-left: 10px;
text-shadow: 2px 2px 0px black;   /* acrescenta sombra em baixo da caixa     */

}
nav {
    background-color:var(--cor05);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.363); 
}
nav a {
color: white;
padding: 10px;
text-decoration: none;      /* para tirar o sublinhado do link     */
font-weight: bold;           /*negrito   */
}
nav a:hover {
    background-color: #3ddc84;
    color: #83e1ad;
    border-radius: 10px;
    transition-duration: 0.5s;    /* tempo de duração apos passar o mouse  */
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);
margin-bottom: 30px;
border-radius: 0px 0px 20px 20px;
}
main img {
width: 100%;

}
main img.p {
    max-width: 350px;
    display: block;
    margin: auto; 
}
main strong {
color: var(--cor05);
font-weight: bold;
background-color: var(--cor02);
padding: 2px 6px;
margin: 3px;
}
main a {
text-decoration: none;
color: var(--cor05);
font-weight: bold;     /* coloca a fonte em negrito  */
}
main  a:hover  {
text-decoration: underline;    /* acrescenta o sublinhado quando passar por cima  */
color: #83e1ad;


}
div {
    color: white;
    text-align: center;
    background-color: var(--cor05);
    
   
}
div a {
color: white;
font-weight: bolder;
text-decoration: none;

}
div a:hover {
    color:#83e1ad ;
    text-decoration: underline;
}
aside {
    background-color: #83e1ad;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.356)
}
aside a:hover {
    color:white;
    text-decoration: underline;
    
}
aside ul {
list-style-position: inside;
columns: 2;
list-style-type:
} 
aside h3 {
    background-color: var(--cor05);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px ;/* fez com que a margem crescece para fora  e se juntasse,  primeira: cima , segunda: direita ,terceira: em baixo, quarta: esquerda */
border-radius: 10px 10px 0px 0px;
}
div.video {
    background-color: #1a5c37;
  margin: 0px -20px 30px -20px;
  padding: 20px;
  position: relative;
  padding-bottom: 59%;
}
div.video > iframe {
position: absolute;
top: 5%;
left: 5%;
width: 90%;
height: 90%;
right: 5%;
bottom: 5%;
} 

